@import '~pretty-checkbox/dist/pretty-checkbox.min.css';

@font-face {
  font-family: 'Product Sans';
  src: url(./fonts/Product\ Sans\ Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url(./fonts/Product\ Sans\ Bold.ttf);
  font-style: bold;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  :root {
    /*fonts*/
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*base*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*dark theme*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}
/*buttons*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

/*light theme*/
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*css classes*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*layout*/
.bd-container {
  max-width: 1200px;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-container-signup {
  background-image: url(./signup.jpg);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  /* overflow-x: hidden; */
}

.bd-grid {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*navbar*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }

  .menu__button__text {
    font-size: var(--small-font-size);
  }

  .add__to__order__button__text {
    font-size: var(--small-font-size);
  }

  .empty-container {
    display: flex;
    height: 80vh !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--h2-font-size);
    text-align: center;
  }

  .empty-container-image {
    width: 100px;
    height: 100px;
    fill: #ff5331;
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
  fill: var(--text-color);
}

.nav__item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav__link,
.nav__logo,
.nav__toggle {
  fill: var(--text-color);
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link,
.nav__item {
  transition: 0.3s;
}

.nav__item:hover {
  fill: var(--first-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/*show(toggle) menu*/
.show-menu {
  top: var(--header-height);
}

/*active link*/
.active-link {
  color: var(--first-color);
}

/*background header*/
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: rgba(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooptip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/*show scrolltop*/
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/*home styles*/
.home__container {
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  justify-self: center;
}

/*buttons*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*about styles*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/*services*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

/*menu*/
.menu__container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.category__container {
  display: flex;
  padding: 1rem 0;
}

.menu__content {
  position: relative;
  display: flex;
  transition: transform 0.9s;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.menu__content:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.menu__content .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 4rem;
  background-color: var(--badge-color);
  color: white;
}

.menu__img {
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name {
  font-size: var(--normal-font-size);
}

.menu__detail,
.menu__rating,
.menu__preci {
  font-size: var(--small-font-size);
}

.menu__numReviews {
  font-size: var(--smaller-font-size);
  margin-left: 5px;
}

.menu__detail {
  margin-bottom: var(--mb-1);
}

.menu__ratingAndReview__container {
  display: flex;
}

.menu__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  text-align: center;
}

.add__to__order__button {
  background-color: var(--first-color);
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  text-align: center;
}

.menu__button:hover {
  background-color: var(--text-color-light);
  color: var(--title-color);
}

.add__to__order__button:hover {
  background-color: var(--text-color-light);
  color: var(--title-color);
}

.menu__button__text {
  text-align: center;
}

.add__to__order__button__text {
  text-align: center;
}

.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-5);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__store {
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img {
  width: 230px;
  justify-self: center;
}

/*contact*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*footer*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*media queries*/
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
    fill: var(--text-color);
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }

  .menu__content {
    padding: 1.5rem;
  }

  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .bd-container-order {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }

  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(4, 210px);
    column-gap: 2rem;
  }

  .menu__content {
    padding: 1.5rem;
  }

  .menu__img {
    width: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(5, 210px);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1980px) {
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(7, 210px);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 2439px) {
  .menu__button__text {
    font-size: var(--medium-font-size);
  }

  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(8, 210px);
    column-gap: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .menu__ratingAndReview__container {
    display: none;
  }
  .menu__numReviews {
    display: none;
  }

  .menu__button__text {
    font-size: var(--small-font-size);
  }

  .add__to__order__button {
    font-size: var(--small-font-size);
  }
}

/*alerts*/

/*description styling*/

/*quantity selector styling*/
.quantity-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid var(--grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 0.2rem;
}

.decrease-quantity {
  padding: 0rem;
}

.quantity {
  padding: 0rem;
}

.loading__container__small {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*meal name and descrption*/

.description {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  border-bottom: 2px solid var(--grey-color);
  padding: 0rem;
  justify-content: flex-start;
}
/*add-to-order styling*/
.add-to-order-button {
  background-color: var(--first-color);
  border-radius: 4em;
  font-size: var(--h3-font-size);
  font-family: inherit;
  display: flex;
  flex-direction: row;
  color: var(--body-color);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.add-to-order-button:hover {
  background-color: var(--grey-color);
}

/*loading container*/
.loading__container {
  display: flex;
  height: calc(70vh - var(--header-height));
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*notes styling*/

textarea {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

/*quantity selector*/

@media (max-width: 800px) {
  .size-container-meal {
    flex-direction: column;
  }
  .addon-container-meal {
    flex-direction: column;
  }

  .flex-container-addon {
    flex-direction: column;
  }
  .flex-right-addon {
    width: 100%;
  }
  .flex-left-addon {
    width: 100%;
  }
}

.action-labels {
  font-size: var(--normal-font-size);
  padding-top: 5px;
}

.seperator {
  border: 1px solid var(--grey-color);
}

@media (max-width: 992px) {
  .quantity-add-to-order-container {
    display: flex;
    flex-direction: column;
  }
}
.quantity-add-to-order-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/*badges styling*/

.badge-icon {
  z-index: -1;
}

.badge-red-sm {
  background: #f13535;
  height: 1.4rem;
  z-index: 0;
  position: absolute;
  top: 15px;
  width: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  margin-left: 18px;
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 50%;
  color: white;
}

.badge-red-md {
  background-color: #f13535;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-red-lg {
  background-color: #f13535;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-green-sm {
  background-color: #048654;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-green-md {
  background-color: #048654;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-green-lg {
  background-color: #048654;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-yellow-sm {
  background-color: #e2961f;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-yellow-md {
  background-color: #e2961f;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-yellow-lg {
  background-color: #e2961f;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-blue-sm {
  background-color: #3c3b6e;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-blue-md {
  cursor: pointer;
  background-color: #3c3b6e;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}

.badge-blue-lg {
  background-color: #3c3b6e;
  color: var(--body-color);
  padding: 2px;
  border-radius: 1rem;
}
