.bd-container-categories {
  width: calc(100% - 2rem);
  margin-left: auto;
  max-width: 960px;
  margin-right: auto;

  @media screen and (max-width: 620px) {
    .bd-container-categories {
      display: flex;
      flex-direction: column;
    }
  }

  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
  }

  tr {
    img {
      width: 5rem;
    }

    .action-icon-edit {
      cursor: pointer;
      fill: var(--success-color);
    }

    .action-icon-delete {
      cursor: pointer;
      fill: var(--badge-color);
    }
  }

  .add-search-container {
    display: flex;
    flex-direction: row;

    .text-input {
      width: 90%;
    }

    .add-category-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      background-color: var(--first-color);
      border-radius: var(--card-border-radius);
      height: auto;
      width: 10%;
      color: var(--text-color);
    }
  }
}

.full-screen {
  height: 100vh;
}
