.add-meal-button {
  background-color: var(--first-color);
  padding: 0.5rem;
  float: right;
  margin-bottom: 0.4rem;
  width: fit-content;
  border-radius: var(--card-border-radius);
  color: var(--text-color);
}

.meal__form {
  background-color: var(--container-color);
  border-radius: var(--card-border-radius);
  width: 100%;
  padding: 2rem;

  &-heading {
    font-size: 2rem;
    text-align: center;
  }

  &-subtitle {
    text-align: center;
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
  }

  &-name {
    input {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      padding: 1rem;
      font-family: inherit;
      width: 100%;
    }

    input:focus {
      outline: none;
    }
  }

  &-description {
    input {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      padding: 1rem;
      font-family: inherit;
      width: 100%;
    }

    input:focus {
      outline: none;
    }
  }

  &-category {
    select {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      font-family: inherit;
      width: 100%;
    }
  }

  &-price {
    input {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      padding: 1rem;
      font-family: inherit;
      width: 100%;
    }

    input:focus {
      outline: none;
    }
  }

  &-addons {
    input {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      padding: 1rem;
      font-family: inherit;
      width: 100%;
    }

    input:focus {
      outline: none;
    }
  }

  &-sizes {
    input {
      border-radius: var(--card-border-radius);
      border: 2px solid var(--text-color);
      background-color: var(--container-color);
      color: var(--text-color);
      height: 2.5rem;
      padding: 1rem;
      font-family: inherit;
      width: 100%;
    }

    input:focus {
      outline: none;
    }
  }

  &-buttons {
    .cancel {
      background-color: var(--grey-color);
      border: none;
      font-size: inherit;
      padding: 1rem;
      border-radius: var(--card-border-radius);
      font-family: inherit;
    }

    .submit {
      background-color: var(--first-color);
      border: none;
      font-size: inherit;
      padding: 1rem;
      border-radius: var(--card-border-radius);
      font-family: inherit;
    }
  }
}
