@import '../variables.scss';

.heading-1 {
  font-size: 3rem;
}

.heading-2 {
  font-size: 2rem;
}

.heading-3 {
  font-size: 1rem;
}

.heading-4 {
  font-size: 0.5rem;
}

.heading-5 {
  font-size: 0.25rem;
}
