@import './variables.scss';

.bd-container-meal {
  max-width: 1000px;
  align-items: center;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.meal-configurator {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.you-may-like-meals {
  width: 30%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  border-radius: 0.5rem;
  width: var(--container-color);
  width: 100%;

  .flex-item-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    background-color: var(--body-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);

    .name {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }

    .description {
      font-size: var(--normal-font-size);
      color: var(--text-color);
      padding: 0rem;
      justify-content: flex-start;
    }

    .meal-customize-header {
      font-size: 16px;
    }

    .meal-image {
      width: 350px;
      height: 350px;
    }
  }

  .flex-item-right {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid var(--grey-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 10px;
    background-color: var(--container-color);

    width: 50%;

    .action-labels {
      font-size: var(--normal-font-size);
      padding-top: 5px;
    }

    .size-container-meal {
      display: flex;
      flex-direction: column;
      font-size: var(--normal-font-size);
      padding-left: 15px;
      padding-right: 15px;
      justify-content: center;

      .size-container-meal-item {
        padding: 10px;
        height: 100px;
        width: 100px;
        text-align: center;
        border: 2px solid var(--grey-color);
        margin: 0.1rem;
        display: flex;
        border-radius: var(--card-border-radius);
      }
    }

    .flex-container-addon {
      display: grid;
      font-size: var(--normal-font-size);
      grid-template-columns: repeat(2, 1fr);
      padding-left: 10px;
      padding-right: 10px;
      justify-content: space-around;
    }

    .flex-left-addon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
      padding: 10px;
      font-size: var(--normal-font-size);
      text-align: left;
      border-radius: var(--card-border-radius);
      border: 2px solid var(--grey-color);
      text-align: left;

      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 15px;
        background-color: #eee;
      }

      .container input:checked ~ .checkmark {
        background-color: var(--first-color);
      }

      .checkmark:after {
        content: '';
        position: absolute;
        display: none;
      }

      .container input:checked ~ .checkmark:after {
        display: block;
      }

      .container .checkmark:after {
        left: 7px;
        top: 2px;
        width: 7px;
        height: 14px;
        border: solid var(--container-color);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .notes-textarea-container {
      padding-left: var(--pb-3);
      padding-right: var(--pb-3);
      padding-top: var(--pb-1);
      padding-bottom: var(--pb-1);
      width: 100%;

      textarea {
        border-radius: var(--card-border-radius);
      }
    }

    .quantity-add-to-order-button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: var(--pb-3);
      padding-right: var(--pb-3);
    }

    .quantity-container {
      font-size: var(--h3-font-size);
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      border-radius: 0.5rem;
      border: none;
      border-top: 1px solid var(--grey-color);
      border-bottom: 1px solid var(--grey-color);
      border: none;
    }

    .quantity-minus {
      font-size: var(--h3-font-size);
      margin-right: auto;
      margin-top: 10px;
      padding-top: 2px;
      height: 30px;
      transition: transform 0.9s;
      width: 30px;
      color: var(--body-color);
      background-color: var(--first-color);
      border-radius: 100px;
      border: none;
    }

    .quantity-minus:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      box-shadow: var(--card-box-shadow);
    }

    .quantity-add:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      box-shadow: var(--card-box-shadow);
    }

    .quantity-add {
      font-size: var(--h3-font-size);
      margin-right: auto;
      margin-top: 10px;
      padding-top: 2px;
      height: 30px;
      width: 30px;
      color: var(--body-color);
      background-color: var(--first-color);
      transition: transform 0.9s;
      border-radius: 100px;
      border: none;
    }

    .quantity-text {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      padding-top: 3px;
      padding-left: 9px;
      height: 40px;
      width: 40px;
      padding-right: 10px;
      border-radius: 100px;
      color: var(--text-color);
      background-color: var(--body-color);
    }

    .add-to-order-button:hover {
      background-color: var(--grey-color);
    }
  }
}

.add-to-order-button {
  padding: 5px !important;
  border-radius: var(--card-border-radius) !important;
}

.meal-suggestions {
  display: flex;
  justify-content: space-around;
}

.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--card-border-radius);
  background-color: var(--first-color);
  color: var(--container-color);
  padding: 5px;
  width: 160px;
  line-height: 27px;

  .text-price-container {
    padding-top: 4px;
    padding-left: 5px;
  }

  .arrow-container {
    background-color: white;
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: var(--card-border-radius);
  }

  .total-price-order {
    display: none;
  }
}

.order-btn:hover {
  .text-price-container {
    display: none;
  }

  .total-price-order {
    display: block;
    padding-top: 4px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 620px) {
  .bd-container-meal {
    display: flex;
    flex-direction: column;
  }

  .meal-suggestions {
    display: flex;
    justify-content: space-around;
  }

  .you-may-like-meals {
    display: none;
  }

  .meal-configurator {
    display: flex;
    flex-direction: column;
    width: 100%;

    .flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .flex-item-left {
        width: auto;
        border: none;
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        background-color: var(--container-color);

        .meal-image {
          width: 300px;
          height: 300px;
        }
      }

      .flex-item-right {
        width: auto;
        border: none;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: var(--card-border-radius);
        border-bottom-left-radius: var(--card-border-radius);

        .size-container-meal {
          display: flex;
          flex-direction: column;
          padding-left: 0px;
          padding-right: 0px;
        }

        .flex-container-addon {
          display: flex;
          flex-direction: column;
          padding-left: 0px;
        }

        .quantity-add-to-order-button-container {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .recommendations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.size-checkbox-container {
  width: 80px;
  height: 80px;
  border-radius: var(--card-border-radius);
  border: 2px solid var(--grey-color);
  margin: var(--mb-1);
}

.size-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--pb-2);
  padding-right: var(--pb-2);

  .size-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.9s;
    margin: var(--mb-1);
    font-size: 16px;

    .size-radio-btn {
      padding-top: 4px;
      background-color: var(--body-color);
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
      padding-left: var(--pb-1);
      padding-right: var(--pb-1);
      input[type='radio'] {
        height: 18px;
        width: 18px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      input[type='radio']:enabled {
        background-color: #cccccc;
        border-radius: 10px;
      }

      input[type='radio']:hover {
        background-color: #a4a4a4;
      }

      input[type='radio']:checked {
        background-color: #6b9500;
      }
    }
    .size-name {
      background-color: var(--body-color);
      padding-top: 3px;
      padding-left: var(--pb-1);
      padding-right: var(--pb-1);
    }
    .size-total-price {
      background-color: var(--first-color);
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
      color: var(--container-color);
      padding-top: 3px;
      padding-left: var(--pb-1);
      padding-right: var(--pb-1);
    }
  }

  .size-info-container:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: var(--card-box-shadow);
  }
}

.addon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--pb-2);
  padding-right: var(--pb-2);

  .addon-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.9s;
    margin: var(--mb-1);
    font-size: 16px;
  }

  .addon-info-container:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: var(--card-box-shadow);
  }

  .addon-radio-btn {
    padding-top: 4px;
    background-color: var(--body-color);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    padding-left: var(--pb-1);
    padding-right: var(--pb-1);
    input[type='checkbox'] {
      height: 18px;
      width: 18px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    input[type='checkbox']:enabled {
      background-color: #cccccc;
      border-radius: 10px;
    }

    input[type='checkbox']:hover {
      background-color: #a4a4a4;
    }

    input[type='checkbox']:checked {
      background-color: #6b9500;
    }
  }
  .addon-name {
    background-color: var(--body-color);
    padding-top: 3px;
    padding-left: var(--pb-1);
    padding-right: var(--pb-1);
  }
  .addon-total-price {
    background-color: var(--body-color);
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);

    padding-top: 3px;
    padding-left: var(--pb-1);
    padding-right: var(--pb-1);
  }
}
