@import './variables.scss';

.bd-container-meal {
  max-width: 1000px;
  align-items: center;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.meal-configurator {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.you-may-like-meals {
  width: 30%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  border-radius: 0.5rem;
  width: var(--container-color);
  width: 100%;

  .flex-item-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    background-color: var(--body-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);

    .name {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }

    .description {
      font-size: var(--normal-font-size);
      color: var(--text-color);
      padding: 0rem;
      justify-content: flex-start;
    }

    .meal-customize-header {
      font-size: 16px;
    }

    .meal-image {
      width: 350px;
      height: 350px;
    }
  }

  .flex-item-right {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid var(--grey-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 10px;
    background-color: var(--container-color);

    width: 50%;

    .action-labels {
      font-size: var(--normal-font-size);
      padding-top: 5px;
    }

    .size-container-meal {
      display: flex;
      flex-direction: row;
      font-size: var(--normal-font-size);
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;

      .size-container-meal-item {
        padding: 10px;
        text-align: center;
        border: 2px solid var(--grey-color);
        margin: 0.1rem;

        border-radius: var(--card-border-radius);
      }
    }

    .flex-container-addon {
      display: grid;
      font-size: var(--normal-font-size);
      grid-template-columns: repeat(3, 1fr);
      padding-left: 10px;
      padding-right: 10px;
      justify-content: space-around;
    }

    .flex-left-addon {
      margin: 5px;
      padding: 10px;
      font-size: var(--normal-font-size);
      text-align: left;
      border-radius: var(--card-border-radius);
      border: 2px solid var(--grey-color);
      text-align: center;
    }

    .notes-textarea-container {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      width: 100%;
    }

    .quantity-add-to-order-button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
    }

    .quantity-container {
      font-size: var(--h2-font-size);
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      border-radius: 0.5rem;
      border: none;
      border-top: 1px solid var(--grey-color);
      border-bottom: 1px solid var(--grey-color);
      border: none;
    }

    .quantity-minus {
      font-size: var(--h2-font-size);
      padding: 10px;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      color: var(--first-color);
      background-color: var(--grey-color);
      border: none;
    }

    .quantity-minus:hover {
      background-color: var(--grey-hover-color);
    }

    .quantity-add:hover {
      background-color: var(--grey-hover-color);
    }

    .quantity-add {
      font-size: var(--h2-font-size);
      margin-right: auto;
      padding: 10px;
      color: var(--first-color);
      background-color: var(--grey-color);
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: none;
    }

    .quantity-text {
      font-size: var(--h2-font-size);
      justify-content: center;
      color: var(--first-color);
      padding: 5px;
      width: 60px;
      background-color: var(--grey-color);
    }

    .add-to-order-button:hover {
      background-color: var(--grey-color);
    }
  }
}

.add-to-order-button {
  padding: 5px !important;

  border-radius: var(--card-border-radius) !important;
}

.meal-suggestions {
  display: flex;
  justify-content: space-around;
}

.order-btn {
  padding: 10px;
  border-radius: var(--card-border-radius);
  background-color: var(--first-color);
  color: var(--container-color);
  line-height: 27px;
}

@media screen and (max-width: 620px) {
  .bd-container-meal {
    display: flex;
    flex-direction: column;
  }

  .meal-suggestions {
    display: flex;
    justify-content: space-around;
  }

  .you-may-like-meals {
    display: none;
  }

  .meal-configurator {
    display: flex;
    flex-direction: column;
    width: 100%;

    .flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .flex-item-left {
        width: auto;
        border: none;
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        background-color: var(--container-color);

        .meal-image {
          width: 300px;
          height: 300px;
        }
      }

      .flex-item-right {
        width: auto;
        border: none;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: var(--card-border-radius);
        border-bottom-left-radius: var(--card-border-radius);

        .size-container-meal {
          display: flex;
          flex-direction: column;
          padding-left: 0px;
          padding-right: 0px;
        }

        .flex-container-addon {
          display: flex;
          flex-direction: column;
          padding-left: 0px;
        }

        .quantity-add-to-order-button-container {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .recommendations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
