.bd-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin-left: auto;
  max-width: 960px;
  margin-right: auto;

  .flex__container {
    &--profile {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
      padding: 0.8rem;
      background-color: var(--container-color);
      border-radius: var(--card-border-radius);

      .heading {
        text-align: center;
      }

      .input-flex {
        display: flex;
        flex-direction: row;

        justify-content: flex-end;
        width: auto;
      }

      .action-buttons {
        display: flex;
        flex-direction: row;
        width: calc(100% / 3);
        align-items: flex-end;
      }
    }

    &--activity {
      display: flex;
      flex-direction: column;
      height: 330px;

      margin: 0.5rem;
      padding: 0.8rem;
      background-color: var(--container-color);
      border-radius: var(--card-border-radius);

      .heading {
        text-align: center;
      }

      .activity__card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--container-color);
        border: 2px solid var(--text-color);
        border-radius: var(--card-border-radius);
        margin: 0.3rem;
        padding: 0.7rem;

        .title {
          font-size: var(--h2-font-size);
        }
      }
    }
  }
}
